.ds-block { display: block; }
.ds-none { display: none; }

.txt-center { text-align: center; }

.txt-sz-md { font-size: 1.7rem !important; }

.el-sz-md { width: 4.5rem !important; height: 3rem !important;}

.w-100 { width: 100%; }
.w-30 { width: 30%; }
.w-25 { width: 25%; }
.w-20 { width: 20%; }

.mg-hor-sm { margin: 1rem 0; }

.mg-top-sm { margin-top: 1rem; }
.mg-top-md { margin-top: 2rem; }
.mg-top-lg { margin-top: 4rem; }

.mg-bottom-sm { margin-bottom: 1rem; }
.mg-bottom-md { margin-bottom: 2rem; }

.mg-right-sm { margin-right: 1rem; }
.mg-right-md { margin-right: 2rem; }
.mg-right-lg { margin-right: 4rem; }

.mg-left-lg { margin-left: 4rem; }

.flex-align-start { align-self: flex-start; }

.color--red { color: red; }