$color-primary: #2F80ED;
$color-dark-blue: #05124f;
$color-gray: #e6e6e6;

$background-global: #FAFAFB;

$color-red: #d10d06;

$borderRadius-profilePicture: .5rem;

$border-transparent-gray: 1px solid rgba(black, .3);