.dashboard {
  display: grid;
  grid-template-rows: 6.5rem 1fr;

  @include respond(phone) {
    grid-template-rows: 9.5rem;
  }
  
  &__header {
    grid-row: 1 / 2;
  }
  
  &__main {
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
  }
  
  &__gridMain {
    margin: 2rem 0;
    
    display: flex;
    
    width: 75%;
    
    @include respond(laptop) {
      width: 80%;
      flex-direction: column-reverse;
    }
    
    @include respond(phone) {
      
    }
    
    @include respond(sm-phone) {
      width: 100%;
    }
  }
  
  &__box {
    display: flex;
    flex-direction: column;
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
    
    &--tweet {
      width: 65%;
      
      @include respond (laptop) {
        width: 100%;
        margin-top: 2rem;
      }
    }
    
    &--info {
      width: 30%;
      
      @include respond (laptop) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      
      @include respond(phone) {
        flex-direction: column;
      }
    }
  }
  
  &__tweet {

  }
  
  &__trends {
    grid-column: 2 / 3;

    @include respond(laptop) {
      width: 40%;
      height: 100% !important;
    }
    
    @include respond(phone) {
      width: 100%;
    }
  }
  
  &__follow {
    @include respond(laptop) {
      width: 60%;
      margin-top: 0 !important;
      margin-right: 2rem;
    }
    
    @include respond(phone) {
      width: 100%;
      height: 50rem !important;
    }
  }
  
  &__tweetPosts {
    position: relative;
    
    @include respond(laptop) {
      
    }
    
    @include respond(phone) {
      
    }
  }
  
  &__tweetPostsLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    
    background-color: white;
    z-index: 20;
    
    &::before {
      @include loadingBefore(4rem);
    }
  }
}