.loadingParent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 500;
  display: none;
}

.loading {
  display: none;
  
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(orange, .05);
  z-index: 100;

  &::before {
    @include loadingBefore(10rem);
  }
}
